In [1]:
print("Hello world")

Hello world

In [2]:
5 + 2

7

In [2]:
age = 29
age

29

In [3]:
type(age)

int

In [1]:
9abc = 9

SyntaxError: invalid decimal literal (2135186319.py, line 1)

In [3]:
a,b,c = 1,2,3
type(a), type(b), type(c)

(int, int, int)

In [6]:
x = 5
print(X)

NameError: name 'X' is not defined

In [8]:
del x
print(x)

NameError: name 'x' is not defined

- variable is called as symbolic name that refers to a value to be saved in RAM

- assignment operator (=)

- variable can comprise of (a-z, A-Z, _, digits)

- variable cannot start with a digit

- dynamically typed

- assign multiple variables in single line

- del statement

In [13]:
abc9 = 8
abc9

8

In [15]:
print(abc9)

8

In [16]:
# change code mode to markdown mode, press Esc then m to change to markdown mode
# change markdown mode to code mode, press Esc then y to change back to code mode

# Basics of Operations

In [24]:
a = 5
b = 2
print(a+b)  #add
print(a-b)  #substract
print(a*b)  #multiply
print(a/b)  #division - decimal no
print(a//b) #floor division (2 2.5 3) nearest whole down number or truncate digits after a decimal point
print(a**b) #power sign a raised to the power b
print(a%b) #modulus - remainder

7
3
10
2.5
2
25
1

| Operators     | Description           | Associativity   |
|---------------|------------------------|------------------|
| `()`          | Parenthesis            | Left to Right    |
| `**`          | Exponentiation         | Right to Left    |
| `*`, `/`, `//`, `%` | Multiplication, Division, Floor Division, Modulus | Left to Right |
| `+`, `-`      | Addition, Subtraction  | Left to Right    |

In [25]:
result = (3 * 2) * 11 + 5 ** 2 % 7
# 6 * 11 + 5 ** 2 % 7
# 6 * 11 + 25 % 7
# 66 + 25 % 7
# 66 + 4
# 70
result

70

In [29]:
result = 2 ** 3 ** 2
result

512

# Logical Operations

In [30]:
1 == 2 #returns true or false

False

In [31]:
1 != 2

True

In [32]:
1 >= 2

False

# Strings

In [33]:
# sequence of characters enclosed in single quote
str1 = 'hello'
str2 = 'world'

str1 + str2 # concatenation

'helloworld'

In [34]:
str1 = 'Python class is scheduled at 7pm IST'
str1 * 3 # repetition

'Python class is scheduled at 7pm ISTPython class is scheduled at 7pm ISTPython class is scheduled at 7pm IST'

In [35]:
# immutability of string class - doesn't change
str1 = 'Python' 

str1.upper() # transformation runtime

'PYTHON'

In [37]:
str1 # the value residing in RAM is basically untouched

'Python'

P  y  t  h  o  n -> Forward indexing (positive) 
0  1  2  3  4  5
-6 -5 -4 -3 -2 -1 -> Backward indexing (negetive)

In [38]:
# access a character
str1 = 'Python'

str1[0] #finding 1st char

'P'

In [40]:
str1[-1] #finding last char

'n'

In [41]:
# extract multiplecharacters in sequence - slicing  variable[startindex:endindex:stepsize]
# stepsize is optional, default = 1 - jumping interval
# endindex is exclusive in nature
str1 = 'Python is a good programming language'
str1[0:6]

'Python'

In [42]:
str1[0:6:2]           # Pto - alternate characters of a word

'Pto'

In [43]:
str1[-37:-31]#Python

'Python'

In [44]:
str1[-37:-31:2]

'Pto'

In [45]:
str1[:6]  # default starts with 0

'Python'

In [46]:
str1[7:] # goes till the end

'is a good programming language'

In [47]:
str1[-37:-35:-2]

''

In [49]:
str1[::-1] #reverse entire string

'egaugnal gnimmargorp doog a si nohtyP'

In [51]:
len(str1)

37

In [50]:
# formatting the strings
# input -> Display the message and it requires some input from user
# input -> str
# explicit convert it into int
age = int(input("Enter age"))
type(age)

Enter age 25

int

In [52]:
# formatting the string
name = input('Enter your name')
age = int(input('enter your age no'))

Enter your name Shreyas
enter your age no 37

In [53]:
result = "My name is {} and My age is {} years old".format(name, age)
result

'My name is Shreyas and My age is 37 years old'

In [60]:
result = f"My name is {name} and My age is {age} years old"
result

'My name is Shreyas and My age is 37 years old'

In [63]:
# Lists - ordered, heterogeneous, CRUD, duplicates, mutable, []

In [64]:
empty_list = [] # empty list
type(empty_list)

list

In [65]:
list1 = [ 1,2,3,'apple','mango','banana']
list1

[1, 2, 3, 'apple', 'mango', 'banana']

In [70]:
print(id(list1))  # memory location of entire list1 object

2912401756736

In [71]:
for item in list1: # individual items storage
    print(id(item))

140735707415464
140735707415496
140735707415528
2912397062048
2912397063200
2912397064400

In [68]:
#access any item from list1
list1[0]

1

In [69]:
list1[-1]

'banana'

In [73]:
# extract sublist
list1[0:3]

[1, 2, 3]

In [74]:
# add another fruit 'grapes'
list1.append('grapes') # at the end of the list, the item is added
list1

[1, 2, 3, 'apple', 'mango', 'banana', 'grapes']

In [75]:
# add kiwi after apple
list1.insert(4, 'kiwi')  # position, value
list1

[1, 2, 3, 'apple', 'kiwi', 'mango', 'banana', 'grapes']

In [1]:
# mistakenly added 1 need to remove not index position
list1.remove(1) # remove an element having value = 1
list1

NameError: name 'list1' is not defined

In [2]:
list1.remove(0) # it checks whether element is there, not there raises an error

NameError: name 'list1' is not defined

In [3]:
# index position -> by default last index - it removes and returns the value of the last item in the list
list1.pop()

NameError: name 'list1' is not defined

In [4]:
# add another fruit 'grapes'
list1.append('grapes') # at the end of the list, the item is added
list1

NameError: name 'list1' is not defined

In [5]:
list1 = [ 1,2,3,'apple','mango','banana']
list1

[1, 2, 3, 'apple', 'mango', 'banana']

In [6]:
# add another fruit 'grapes'
list1.append('grapes') # at the end of the list, the item is added
list1

[1, 2, 3, 'apple', 'mango', 'banana', 'grapes']

In [7]:
# add kiwi after apple
list1.insert(4, 'kiwi')  # position, value
list1

[1, 2, 3, 'apple', 'kiwi', 'mango', 'banana', 'grapes']

In [8]:
# index position -> by default last index - it removes and returns the value of the last item in the list
list1.pop()

'grapes'

In [9]:
# add another fruit 'grapes'
list1.append('grapes') # at the end of the list, the item is added
list1

[1, 2, 3, 'apple', 'kiwi', 'mango', 'banana', 'grapes']

In [10]:
list1.pop(1) # need to provide index position
list1

[1, 3, 'apple', 'kiwi', 'mango', 'banana', 'grapes']

In [11]:
# modifying the elements in the list
list1[0] = 'grapes'
list1

['grapes', 3, 'apple', 'kiwi', 'mango', 'banana', 'grapes']

In [12]:
# extend vs append
list2 = ['watermelon', 'muskmelon']
list1.append(list2)
list1

['grapes',
 3,
 'apple',
 'kiwi',
 'mango',
 'banana',
 'grapes',
 ['watermelon', 'muskmelon']]

In [13]:
#when your provide the input as a list then it is added like a nested list using append

list1 = ['grapes', 'apple', 'kiwi', 'mango', 'banana']
list1.extend(list2)
list1

['grapes', 'apple', 'kiwi', 'mango', 'banana', 'watermelon', 'muskmelon']

In [14]:
# individual elements from list and then add it at the end of 

# sort vs sorted
list1 = ['grapes', 'apple', 'kiwi', 'mango', 'banana', 'watermelon', 'muskmelon']
list1.sort()
print(list1.sort())
list1 # sort() sort the original list in the RAM and it returns nothing

None

['apple', 'banana', 'grapes', 'kiwi', 'mango', 'muskmelon', 'watermelon']

In [15]:
list1 = ['grapes', 'apple', 'kiwi', 'mango', 'banana', 'watermelon', 'muskmelon']

In [16]:
list2 = sorted(list1) # return a new list after sorting , does not change the original list
list2
list1

['grapes', 'apple', 'kiwi', 'mango', 'banana', 'watermelon', 'muskmelon']

In [17]:
list1.sort(reverse=True)
list1

['watermelon', 'muskmelon', 'mango', 'kiwi', 'grapes', 'banana', 'apple']

In [18]:
# Tuples

tuple - immutable, add, modify, update, remove -> this cannot happen within tuple variable, ordered, heterogeneous, duplicates,()
universal data - constant GPS, DOB

SyntaxError: invalid syntax (858500883.py, line 3)

In [19]:
tuple1 = tuple() # empty tuples
type(tuple1)

tuple

In [20]:
tuple1 = ()
type(tuple1)

tuple

In [21]:
tuple1 = (1,2,3,'apple','banana')
tuple1

(1, 2, 3, 'apple', 'banana')

In [22]:
tuple1[0] = 'kiwi'

TypeError: 'tuple' object does not support item assignment

In [23]:
list1 = list(tuple1)
list1.append('kiwi')
tuple1 = tuple(list1)
tuple1

(1, 2, 3, 'apple', 'banana', 'kiwi')

In [24]:
tuple1.index('kiwi') # index position of any item in tuple

5

In [25]:
tuple1.count(1) # count of occurences of this item 1 (value)

1

In [26]:
tuple1[0], tuple1[0:2]

(1, (1, 2))

In [27]:
age = int(input("enter your age"))

enter your age 18

In [28]:
if age >= 18: 
    print("The person is allowed to vote")  # condition has to true to print this statement

The person is allowed to vote

In [30]:
age = int(input("enter your age"))

if age >= 18: 
    print("The person is allowed to vote")  # condition has to true to print this statement
else:
    print("Do not enter voting poll")

enter your age 16

Do not enter voting poll

In [31]:
marks = int(input("Enter your CS"))

if marks >= 90:
    print("A grade")
elif marks >= 80:
    print("B grade")
elif marks >= 70:
    print("C grade")
elif marks >= 60:
    print("D grade")
elif marks >=50:
    print("E grade")
else:
    print("Failed!!")

Enter your CS 80

B grade

In [32]:
price = int(input("Enter your price"))
discount_coupon_applied = True
if price > 1000:
    if discount_coupon_applied:
        price = price - 0.10*price
        print(f'You have to pay only {price}')
    else:
        print(f'Your item amount is {price}')
else:
    delivery_charge = 50
    price = price + delivery_charge
    print(f'Your price is {price}')

Enter your price 80

Your price is 130

In [33]:
valid_coupon = 'abcd'
price = int(input("Enter your price"))
discount_coupon_input = input('Enter your coupon code')
discount_coupon_applied = True if discount_coupon_input == valid_coupon else False
if price > 1000:
    if discount_coupon_applied:
        price = price - 0.10*price
        print(f'You have to pay only {price}')
    else:
        print(f'Your item amount is {price}')
else:
    delivery_charge = 50
    price = price + delivery_charge
    print(f'Your price is {price}')

Enter your price 90
Enter your coupon code c

Your price is 140

1. Sets
2. Dictionaries
3. Iterations - for loop and while loop
4. Functions and lambda function

# Sets
 unordered, heterogeneous, mutable, indexing is difficult, {}, allows only unique occurrences of each of element

In [35]:
my_set = set() # empty set
type(my_set)

set

In [36]:
my_set = {1,1,2,3, 'apples','mangoes', 5,6,7,7,8}
my_set

{1, 2, 3, 5, 6, 7, 8, 'apples', 'mangoes'}

In [37]:
my_set[0] # no indexing is possible here

TypeError: 'set' object is not subscriptable

In [38]:
my_set[0:2]

TypeError: 'set' object is not subscriptable

In [39]:
my_set.add('orange')
my_set

{1, 2, 3, 5, 6, 7, 8, 'apples', 'mangoes', 'orange'}

In [40]:
my_set.remove('orange')
my_set

{1, 2, 3, 5, 6, 7, 8, 'apples', 'mangoes'}

In [42]:
# remove arbritary element from the set
my_set.pop()

1

In [44]:
list1 = [101,102]
for i in list1:
    my_set.add(i)

In [45]:
my_set

{101, 102, 2, 3, 5, 6, 7, 8, 'apples', 'mangoes'}

In [46]:
set1 = {1,2,3,4,5}
set2 = {6,1,2,3,10}
set3 = set1.union(set2)
set3

{1, 2, 3, 4, 5, 6, 10}

In [47]:
set3 = set1 | set2 # union or operator
set3

{1, 2, 3, 4, 5, 6, 10}

In [48]:
set3 = set1.intersection(set2)
set3

{1, 2, 3}

In [49]:
set3 = set1 & set2
set3

{1, 2, 3}

In [50]:
set3 = set1.difference(set2)
set3

{4, 5}

In [51]:
set3 = set1 - set2
set3

{4, 5}

In [52]:
set3 = set1.symmetric_difference(set2) # delete all the common elements between set1 and set2
set3

{4, 5, 6, 10}

In [53]:
set3 = set1 ^ set2
set3

{4, 5, 6, 10}

In [54]:
list1 = [1,2,3]
set3.update(list1) #modify the set items by adding entire list (individual element) inside set
set3

{1, 2, 3, 4, 5, 6, 10}

In [55]:
tuple1 = (89,91)
set3.update(tuple1)
set3

{1, 2, 3, 4, 5, 6, 10, 89, 91}

In [56]:
tuple1 = (89,91)
set3.add(tuple1) # in set , tuple can be present (entire structure)
set3

{(89, 91), 1, 10, 2, 3, 4, 5, 6, 89, 91}

In [57]:
set4 = {11,12}
set3.add(set4)   # gives error as set is unhashable
set3

TypeError: unhashable type: 'set'

In [58]:
set4 = {11,12}
set3.update(set4)  
set3

{(89, 91), 1, 10, 11, 12, 2, 3, 4, 5, 6, 89, 91}

In [59]:
# discard vs remove - both of them helps in removal of an existent element but discard does not give any error if item is not found whereas remove will give error 
# try removing an element that does not exist in the collection
set3.remove(60)

KeyError: 60

In [60]:
set3.discard(60)

In [61]:
if 60 in set3:
    set3.remove(60)
else:
    print(f'Element is not present')

Element is not present

In [62]:
set3.clear() # clear all the elements and give empty set
set3

set()

# Dictionaries
{ "name":"tanisha","age":29}
unordered, collection of key-value pairs where key has to be unique and values can be duplicated,{}, crud operations, mutable

In [64]:
# empty dictionary
dict1 = {}
type(dict1)

dict

In [65]:
dict1 = dict()
type(dict1)

dict

In [66]:
my_dict = {'name':'john', 'age':30,'city':'new york'}
my_dict

{'name': 'john', 'age': 30, 'city': 'new york'}

In [67]:
# access it with indexing and slicing - not possible
my_dict[0]

KeyError: 0

In [68]:
my_dict = {'name':'john', 'age':30,'city':'new york', 'city':'california'} #overrides the key value pair latest value
my_dict

{'name': 'john', 'age': 30, 'city': 'california'}

In [69]:
my_dict['name'] # ['keyname']

'john'

In [70]:
my_dict.get('name') # access the key value

'john'

In [71]:
# add key value pair or update
my_dict['city'] = 'Bangalore'
my_dict

{'name': 'john', 'age': 30, 'city': 'Bangalore'}

In [72]:
my_dict['address'] = 'XYZ'
my_dict

{'name': 'john', 'age': 30, 'city': 'Bangalore', 'address': 'XYZ'}

In [73]:
# access
my_dict['state']

KeyError: 'state'

In [74]:
my_dict.get('state','None') # it checks for state key if its value is there, it will return otherwise in second argument, the default given will be returned

'None'

In [75]:
my_dict.get('address','None')

'XYZ'

In [76]:
my_dict.setdefault('salary','above 10lpa') #returns the value of key if its exists otherwise inserts key with default value and returns it

'above 10lpa'

In [77]:
my_dict

{'name': 'john',
 'age': 30,
 'city': 'Bangalore',
 'address': 'XYZ',
 'salary': 'above 10lpa'}

In [78]:
my_dict.setdefault('city','metro')

'Bangalore'

In [79]:
my_dict

{'name': 'john',
 'age': 30,
 'city': 'Bangalore',
 'address': 'XYZ',
 'salary': 'above 10lpa'}

In [80]:
# removal of items
# pop
# dict.pop(key, default) -> removes key and returns its value. if key does not exist, returns default if provided otherwise key error
my_dict.pop('state')

KeyError: 'state'

In [81]:
my_dict.pop('state','none')

'none'

In [82]:
my_dict.pop('city', 'metro')

'Bangalore'

In [83]:
my_dict

{'name': 'john', 'age': 30, 'address': 'XYZ', 'salary': 'above 10lpa'}

In [84]:
# popitem
my_dict.popitem() # removes and returns last inserted key-value pair

('salary', 'above 10lpa')

In [85]:
my_dict

{'name': 'john', 'age': 30, 'address': 'XYZ'}

In [86]:
# update dictionary with use of dictionary
# independent key-value pairs
my_dict.update({'state':'Karnataka','city':'Bangalore'})
my_dict

{'name': 'john',
 'age': 30,
 'address': 'XYZ',
 'state': 'Karnataka',
 'city': 'Bangalore'}

In [87]:
dict2 = {'teleno':'abcd'}
my_dict.update(dict2)
my_dict

{'name': 'john',
 'age': 30,
 'address': 'XYZ',
 'state': 'Karnataka',
 'city': 'Bangalore',
 'teleno': 'abcd'}

In [88]:
dict4 ={'empid': [101,102,103]}
my_dict.update(dict4)
my_dict

{'name': 'john',
 'age': 30,
 'address': 'XYZ',
 'state': 'Karnataka',
 'city': 'Bangalore',
 'teleno': 'abcd',
 'empid': [101, 102, 103]}

In [89]:
my_dict.update({'tupleex': (1,2,3,4), 'dictex': {'dicta':'value1'}, 'setex': {1,2,3}})
my_dict

{'name': 'john',
 'age': 30,
 'address': 'XYZ',
 'state': 'Karnataka',
 'city': 'Bangalore',
 'teleno': 'abcd',
 'empid': [101, 102, 103],
 'tupleex': (1, 2, 3, 4),
 'dictex': {'dicta': 'value1'},
 'setex': {1, 2, 3}}

In [90]:
# list of keys
my_dict.keys()

dict_keys(['name', 'age', 'address', 'state', 'city', 'teleno', 'empid', 'tupleex', 'dictex', 'setex'])

In [91]:
# list of keys 
list(my_dict.keys())

['name',
 'age',
 'address',
 'state',
 'city',
 'teleno',
 'empid',
 'tupleex',
 'dictex',
 'setex']

In [92]:
# list of values
list(my_dict.values())

['john',
 30,
 'XYZ',
 'Karnataka',
 'Bangalore',
 'abcd',
 [101, 102, 103],
 (1, 2, 3, 4),
 {'dicta': 'value1'},
 {1, 2, 3}]

In [93]:
# list of pairs key-value

list(my_dict.items()) # list of tuple of key-value pairs

[('name', 'john'),
 ('age', 30),
 ('address', 'XYZ'),
 ('state', 'Karnataka'),
 ('city', 'Bangalore'),
 ('teleno', 'abcd'),
 ('empid', [101, 102, 103]),
 ('tupleex', (1, 2, 3, 4)),
 ('dictex', {'dicta': 'value1'}),
 ('setex', {1, 2, 3})]

In [94]:
# check the existence of a key
if 'address' in my_dict:
    print(my_dict['address'])
else:
    print('please provide your address')

XYZ

In [96]:
dict_copy = my_dict.copy() # copy the dictionary
dict_copy

{'name': 'john',
 'age': 30,
 'address': 'XYZ',
 'state': 'Karnataka',
 'city': 'Bangalore',
 'teleno': 'abcd',
 'empid': [101, 102, 103],
 'tupleex': (1, 2, 3, 4),
 'dictex': {'dicta': 'value1'},
 'setex': {1, 2, 3}}

In [97]:
print(id(dict_copy), id(my_dict))

1299465448768 1299463829888

In [98]:
# sequence of fields to be available within a dictionary before main logic or response starts
keys = ['empid','nps']
new_dict = dict.fromkeys(keys, 0)
new_dict

{'empid': 0, 'nps': 0}

In [99]:
len(my_dict) # length of key-value pairs
new_dict

{'empid': 0, 'nps': 0}

In [100]:
# remove key-value pair
del my_dict['address']

In [101]:
my_dict

{'name': 'john',
 'age': 30,
 'state': 'Karnataka',
 'city': 'Bangalore',
 'teleno': 'abcd',
 'empid': [101, 102, 103],
 'tupleex': (1, 2, 3, 4),
 'dictex': {'dicta': 'value1'},
 'setex': {1, 2, 3}}

In [102]:
# remove entire dictionary
del my_dict

In [103]:
# clear all key-value pairs and make it empty
new_dict.clear()

In [104]:
my_dict

NameError: name 'my_dict' is not defined

Using the menu dictionary above, write a program that:

Asks the user for a drink name

Prints the price

If the drink is not in the dictionary, print "Sorry, we don't have that."

}menu = {
    "espresso": 2.50,
    "latte": 3.75,
    "cappuccino": 3.50,
    "americano": 2.75

In [112]:
menu = {
    "espresso": 2.50,
    "latte": 3.75,
    "cappuccino": 3.50,
    "americano": 2.75}
menu

{'espresso': 2.5, 'latte': 3.75, 'cappuccino': 3.5, 'americano': 2.75}

In [113]:
# 1. Define the menu dictionary
menu = {
    "espresso": 2.50,
    "latte": 3.75,
    "cappuccino": 3.50,
    "americano": 2.75
}

# 2. Ask the user for a drink name
# .lower() and .strip() are added to handle capital letters or accidental spaces
drink_name = input("Please enter a drink name: ").lower().strip()

# 3. Check if the drink is in the dictionary
if drink_name in menu:
    # Print the price
    print(f"The price is: ${menu[drink_name]:.2f}")
else:
    # Print the error message
    print("Sorry, we don't have that.")

Please enter a drink name:  latte

The price is: $3.75

A company collects website visitor logs for one day.
Some visitors refresh the page, so their IDs appear multiple times:

visitors = ["U101", "U102", "U101", "U105", "U103", "U105"]


The marketing team also has a list of users they targeted with ads:

targeted = {"U101", "U103", "U110", "U120"}


Find how many targeted users actually visited the website.

Use sets to solve it.

In [108]:
visitors = ["U101", "U102", "U101", "U105", "U103", "U105"]
visitors

['U101', 'U102', 'U101', 'U105', 'U103', 'U105']

In [110]:
targeted = {"U101", "U103", "U110", "U120"}
targeted

{'U101', 'U103', 'U110', 'U120'}

In [114]:
visitors = ["U101", "U102", "U101", "U105", "U103", "U105"]
targeted = {"U101", "U103", "U110", "U120"}

# 1. Convert the visitors list to a set to remove duplicates
unique_visitors = set(visitors)

# 2. Find the intersection (users present in BOTH sets)
successful_targets = unique_visitors.intersection(targeted)

# 3. Count the results
count = len(successful_targets)

print(f"Number of targeted users who visited: {count}")
print(f"The User IDs are: {successful_targets}")

Number of targeted users who visited: 2
The User IDs are: {'U103', 'U101'}

In [1]:
visitors = ["U101", "U102", "U101", "U105", "U103", "U105"]
targeted = {"U101", "U103", "U110", "U120"}

# Convert visitors list to a set to remove duplicates
visitor_set = set(visitors)

# Find targeted users who actually visited
visited_targeted = visitor_set & targeted   # intersection

print("Targeted users who visited:", visited_targeted)
print("Count:", len(visited_targeted))

Targeted users who visited: {'U101', 'U103'}
Count: 2

# Iteration
For and while loops

for loop -> fixed no of iterations
syntax
 for variable in collection:
     body statements

In [4]:
numbers = [1,2,3,4,5,6,7]
for number in numbers:
    if number % 2 ==0:
        print(f'{number} is even')

2 is even
4 is even
6 is even

In [6]:
# while -> condition based scenario, unaware about how many times execution will happen
# while condition:
#     body statements

correct_pin = '1234'
user_pin = input('Enter your pin')

while user_pin != correct_pin:
    print('Please enter correct pin')
    user_pin = input('Enter correct pin pls')

correct_pin = '1234'
user_pin = input('Enter your pin')
count = 0
while user_pin != correct_pin:
    count+=1
    print('Please enter correct pin')
    user_pin = input('Enter correct pin pls')

print(f'After completing {count} times, you got correct pin')

Enter your pin 9999

Please enter correct pin

Enter correct pin pls 1111

Please enter correct pin

Enter correct pin pls 2222

Please enter correct pin

Enter correct pin pls 1234
Enter your pin 1234

After completing 0 times, you got correct pin

In [7]:
# break and continue keywords
# break : to come out of the loop
# continue: do not carry current task go with next element in the collection, skip, passing the ball to somebodyelse

drawers = [101,102, 103, 104]
lucky_draw = int(input('Enter the draw no'))
for number in drawers:
    if number == lucky_draw:
        print('Lucky draw Found out')
        break
    else:
        print(f'The {number} is not matching with lucky draw no')

Enter the draw no 101

Lucky draw Found out

In [8]:
list_of_words = ['happy','#happy','#happiest','good','$good']
for word in list_of_words:
    if '#' in word or '@' in word or '$' in word:
        continue
    print(word)

happy
good

# Functions

Block of reusable code that performs a specific task. Instead of writing same code multiple times, you can call
ca function whenever required.

def function_name(param1, param2):
   logic

In [18]:
def greet(name):
    print(f'Hello!! Welcome to Python session {name}')

In [19]:
greet("Alice")

Hello!! Welcome to Python session Alice

In [20]:
greet("Bob")

Hello!! Welcome to Python session Bob

In [21]:
greet("Anonymous")

Hello!! Welcome to Python session Anonymous

In [27]:
# compute circle area given that radius will be given by user input
                        #radius= user_input
def compute_circle_area(radius):  # function definition - formal parameters 
    pi = 3.14159                  # function inside - all the variable are of local scope by default
    return pi * radius ** 2   # pass information to global scope
    
user_input = float(input("Enter radius of the well"))

print(f'The area calculated is {compute_circle_area(user_input)}')  #call to function user_input - actual parameter

Enter radius of the well 3

The area calculated is 28.27431

In [28]:
def greet():
    print(f'welcome to pandas and numpy class')

In [29]:
greet()

welcome to pandas and numpy class

# Types of functions

1. positional arguments - match by order (sequence)
2. keyword arguments - matched by name technique
3. Default arguments - used if no value is provided
4. variable length arguments - *args, **kwargs

In [31]:
def get_info_of_customer(name, age):
    print(f'My name is {name} and my age is {age}')

In [32]:
get_info_of_customer("bob", 29) # positional arguments

My name is bob and my age is 29

In [33]:
get_info_of_customer(29, "bob") #name = 29,age = "bob"

My name is 29 and my age is bob

In [34]:
get_info_of_customer(age=29, name="bob") #keyword arguments

My name is bob and my age is 29

In [35]:
get_info_of_customer(AGE=29, NAME="bob") #keyword arguments #case sensitive

TypeError: get_info_of_customer() got an unexpected keyword argument 'AGE'. Did you mean 'age'?

In [36]:
def get_info_of_customer(age,name='Guest'): # default arguments always write them at the end of formal params
    print(f'My name is {name} and my age is {age}')

In [37]:
get_info_of_customer(29) # it displays default value

My name is Guest and my age is 29

In [38]:
get_info_of_customer(29, 'bob') #overrides the default value

My name is bob and my age is 29

In [39]:
def student_info(**kwargs):
    for key, value in kwargs.items():
        print(f'{key}:{value}')

In [40]:
student_info(name = 'Tanisha', age=29, city='Bangalore', grade='A') #keyword

name:Tanisha
age:29
city:Bangalore
grade:A

In [41]:
student_info(name = 'Bob', salary=29000, city='Jaipur') #keyword

name:Bob
salary:29000
city:Jaipur

In [42]:
def add_numbers(*args): #tuple
    total = 0
    print(f'input arguments: {args}, {type(args)}')
    for no in args:
        total+= no
    return total

In [43]:
print(add_numbers(1,2,3))

input arguments: (1, 2, 3), <class 'tuple'>
6

In [44]:
print(add_numbers(4,5,6,7.5,8))

input arguments: (4, 5, 6, 7.5, 8), <class 'tuple'>
30.5

In [45]:
print(add_numbers(1,1,1,2,34,5,6,6,6,8))

input arguments: (1, 1, 1, 2, 34, 5, 6, 6, 6, 8), <class 'tuple'>
70

In [46]:
# future implementation
def process_png():
    pass  # keyword will help to suggest that in future you will write some code implementation

# Lambda function

Function without any name - anonymous
Single task, good for small related inline functions
lightweight, concise, faster than normal function
but you cannot write multiple tasks within it at once

syntax: lambda input_variable: expression

In [48]:
def square_no(num):
    return num ** 2

In [49]:
print(square_no(4))

16

In [50]:
def add_no(n1, n2):
    return n1+n2

In [51]:
add_no(1,5)

6

In [52]:
add_no = lambda n1, n2: n1+n2
add_no(1,5)

6

In [53]:
add_no = lambda n1, n2: n1+n2
add_no(n2=1,n1=5)

6

In [54]:
add_no = lambda *n1: sum(n1)
add_no(1,2,3,4,5,6)

21

In [55]:
experiment = lambda n1: n1 ** 2 if n1 % 2 == 0 else n1 ** 3

experiment(4)

16

In [57]:
# tuple of information regarding customer name and its age
customers = [("alice", 25),("bob",26),("cherry",24),("chintu",23)]

In [58]:
sorted(customers, key= lambda customer_info: customer_info[1], reverse=False)

[('chintu', 23), ('cherry', 24), ('alice', 25), ('bob', 26)]

In [59]:
sorted(customers, key= lambda customer_info: customer_info[1], reverse=True)

[('bob', 26), ('alice', 25), ('cherry', 24), ('chintu', 23)]